
@font-face {
    font-family: "Orbitron", serif;
    src: url(https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Orbitron:wght@400..900&display=swap);
    font-family: "Hammersmith One", serif;
    src: url(https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Orbitron:wght@400..900&display=swap);
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Orbitron", serif !important;
    scroll-behavior: smooth;
}

.header{
    font-family: Bebas Neue;

}

ul{
    list-style: none;
    margin-right: 35px;
}
